.file-input-container {
  width: 100%;
  padding: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}


.file-input-label {
  display: block;
  background-color: rgba(255, 255, 255, 0.7); /* 设置毛玻璃效果 */
  border-radius: 120px;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  color: black; /* 设置黑色文字 */
}

.file-input {
  display: none;

}

.upload-icon {
  margin-right: 5px;
}


.button {
  padding: 8px 16px;
  margin: 10px auto;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.json-data {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: black;
  height: 20vh;
  overflow-y: auto;
  scrollbar-color: #fff transparent;
}
