.select-excel-page {
  height: 95vh;
  column-count: 2;
  column-gap: 20px;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  padding: 40px;
  overflow-y: auto;
}

.graph-wrapper {
  padding: 20px 50px;
  overflow-y: auto;
  text-align: center;
}

.button-enable-zoom {
  position: absolute;
  right: 50px;
  margin-top: 20px;
  width: 80px;
  z-index: 1;
  font-size: 12px;
  padding: 8px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 添加动画效果 */
}

.button-enable-zoom:hover {
  background-color: #564dff;
  transform: translateY(-2px) scale(1.02); /* 按钮向下移动10px */
  box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* 添加悬浮效果 */
}

.title-label{
  color: #333;
  margin-top: 20px;
  /*letter-spacing: 0.5px;*/
}

.label-and-button{
  column-span: all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-and-label-wrapper{
  position: relative;
  margin-top: 20px;
  column-span: all;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
}

.Latex-expression {
  color: #4e4d4d;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}

.div-for-label {
  display: flex;
  flex-direction: column; /* 让子元素垂直排列 */
  align-items: center; /* 水平居中对齐 */
  justify-content: center; /* 垂直居中对齐 */
  text-align: center; /* 文字水平居中对齐 */
}


