.info-display {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  padding: 20px 50px;
  margin-top: 20px;
  overflow-y: auto;
  column-span: all;
  text-align: center;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  scroll-behavior: smooth;
}

.data-container {
  max-height: 63vh;
}

.data-container h3 {
  margin-top: 0;
  color: #333;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* 表格与标题之间的间距 */
  margin-bottom: 20px;
  background-color: #ffffff; /* 白色背景 */
  border-radius: 8px; /* 圆角边框 */
  overflow: hidden; /* 防止边框溢出 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影效果 */
  color: #4e4d4d;
}

th, td {
  border: 1px solid #ccccff; /* 淡蓝色边框 */
  padding: 8px 12px;
  text-align: center; /* 文本水平居中 */
}

th {
  background-color: #8c8cff; /* 淡蓝色表头背景 */
  color: #ffffff; /* 白色文字 */
}

tr:nth-child(even) {
  background-color: #e6e6ff; /* 淡紫色偶数行背景 */
}

tr:hover {
  background-color: #ccccff; /* 淡蓝色鼠标悬停时的背景 */
}

.not-choose-message {
  color: #333;
}

.number-of-selection-message {
  margin-top: 20vh;
  justify-content: center;
  color: #535353;
  font-size: 4rem;
  height: 60vh;
  align-items: center;
}

.none-data-div {

}

@keyframes countChange {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* 在动画的一半时放大到1.2倍 */
  }
  to {
    transform: scale(1); /* 回到原始大小 */
  }
}

.count-change {
  animation: countChange 0.2s ease-in-out;
  display: inline-block;
}

.header-container {
  position: relative;
  height: 20px; /* 设置一个适当的高度 */
}


.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
}

.export-button {
  padding: 0px 5px;
  position: absolute;
  right: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5); /* 半透明白色背景 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 初始阴影效果 */
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* 添加过渡效果 */
}

.export-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影变大效果 */
  transform: translateY(-2px); /* 向上移动2px */
  background-color: rgba(255, 255, 255, 0.6); /* 悬浮时略微增加透明度 */
}

.table-row-key {
  font-weight: bold;
}

.info-display::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

